#======backend======

#environment variables file
backend/.env
#database
backend/*.db 
#virtual environment
backend/venv/
#pyhton cache
backend/__pycache__/



# Frontend - Node/Vite
frontend/node_modules/
frontend/dist/

# Frontend environment files
frontend/.env
frontend/.env.local
frontend/.env.*.local

# IDE
.vscode/


#project snapshot
PROJECT_SNAPSHOT.md


